

/*************** custom styles ***************/
    span.red, a.red, h2.red {
        color:#ff0000;
    }

    a.red:hover {
        color:#000;
    }

    span.author {
        color:#000;
        font-weight:bold;
    }

    blockquote {
        border:1px solid #333;
        padding:5px;
        background-color:#000;
        color:#fff;
        text-align:justify;
    }

    #content p {
        text-align:justify;
    }

    .small {
        font-size:6pt;
    }